@model IEnumerable<MyTracker.ViewModels.TasksViewModel>
<script src="~/js/tsExample.js"></script>
<h4><a asp-area="" asp-controller="Tasks" asp-action="Create">Create new Task</a></h4>
<h1>List of tasks:</h1>
<table class="table">
    <tr>
        <th>
            <label asp-for=@Model.First().Name></label>
        </th>
        <th>
            <label asp-for=@Model.First().Description></label>
        </th>
        <th>
            <label asp-for=@Model.First().UserName></label>
        </th>
    </tr>
    @foreach (var task in @Model.OrderBy(model => model.Name))
    {
        <tr id="@task.Id">            
            <td class="replaceForEdit">
                @task.Name
            </td>
            <td class="replaceForEdit">
                @task.Description
            </td>
            <td>
                @task.UserName
            </td>
            <td>
                <form id="test" asp-controller="Tasks" asp-action="Delete" method="POST">
                    <input type="hidden" name="id" value="@task.Id"/>
                    <a id="linkEdit" class="btn" onclick="edit(@task.Id)">Edit</a>
                    <a id="linkDelete" class="btn" onclick="submit(@task.Id)">Delete</a>                    
                </form>
            </td>
        </tr>
    }
</table>

@section scripts
{
    <script>
        function submit(id) {
            var foo = '#' + id;
            $(foo).find('#test').submit();
            alert('Entity will be deleted!');
        }      

        function edit(id) {
            var tr = $('#'+id);
            var taskName = $(tr).children('td:first');
        
            var linkEdit = $(tr).find('#linkEdit');
            var linkDelete = $(tr).find('#linkDelete');

            $(linkEdit).replaceWith("<a id='linkSave' class='btn'>Save</a>");        

            var inputElement = document.createElement('a');
            inputElement.classList = "btn";
            inputElement.text = "Cancel";
            inputElement.onclick = function(){
                replaceBack(id,taskName);
            };
            
            $(linkDelete).replaceWith(inputElement);
            
            $(taskName).html("<input id='tbName' placeholder='Enter new Name' />");
        }

        function replaceBack(id, taskName) {
            var tr = document.getElementById(id); 
            var name = $(tr).children('td:first');

            $('#linkSave').replaceWith('<a id="linkEdit" class="btn" onclick="edit(' +id+')">Edit</a>');
            $('#linkCancel').replaceWith('<a id="linkDelete" class="btn" onclick="submit('+id+')">Delete</a>');
            $('#tbName').replaceWith(taskName);
        }

        String.format = function() {
            var s = arguments[0];
            for (var i = 0; i < arguments.length - 1; i++) {       
                var reg = new RegExp("\\{" + i + "\\}", "gm");             
                s = s.replace(reg, arguments[i + 1]);
            }

            return s;
        }
    </script>
}